<section class="catalog" id="catalog">
  <div class="conteiner">
    <h2 class="catalog-title">Catalog</h2>
    <ul class="catalog-list list">
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-1.jpg    1x,
                  ./img/catalog/watch-1@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-1.jpg    1x,
                  ./img/catalog/watch-1@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-1.jpg    1x,
                  ./img/catalog/watch-1@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-1.jpg"
                alt="Tube Watch S42 Date Steel With Black Case"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">
            Tube Watch S42 Date Steel With Black Case
          </h3>
          <p class="product-price">€395</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-2.jpg    1x,
                  ./img/catalog/watch-2@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-2.jpg    1x,
                  ./img/catalog/watch-2@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-2.jpg    1x,
                  ./img/catalog/watch-2@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-2.jpg"
                alt="Avondale Watch Police For Men"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Avondale Watch Police For Men</h3>
          <p class="product-price">€800</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-3.jpg    1x,
                  ./img/catalog/watch-3@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-3.jpg    1x,
                  ./img/catalog/watch-3@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-3.jpg    1x,
                  ./img/catalog/watch-3@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-3.jpg"
                alt="Diver 300M Co‑Axial Master Chronometer Chronograph"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </h3>
          <p class="product-price">€600</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-4.jpg    1x,
                  ./img/catalog/watch-4@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-4.jpg    1x,
                  ./img/catalog/watch-4@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-4.jpg    1x,
                  ./img/catalog/watch-4@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-4.jpg"
                alt="Diver 300M Co-Axial Master Chronometer "
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="product-price">€1400</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-5.jpg    1x,
                  ./img/catalog/watch-5@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-5.jpg    1x,
                  ./img/catalog/watch-5@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-5.jpg    1x,
                  ./img/catalog/watch-5@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-5.jpg"
                alt="Taman Watch By Police For Men"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Taman Watch By Police For Men</h3>
          <p class="product-price">€500</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-6.jpg    1x,
                  ./img/catalog/watch-6@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-6.jpg    1x,
                  ./img/catalog/watch-6@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-6.jpg    1x,
                  ./img/catalog/watch-6@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-6.jpg"
                alt="Malawi Watch Police For Men"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Malawi Watch Police For Men</h3>
          <p class="product-price">€555</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-7.jpg    1x,
                  ./img/catalog/watch-7@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-7.jpg    1x,
                  ./img/catalog/watch-7@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-7.jpg    1x,
                  ./img/catalog/watch-7@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-7.jpg"
                alt="Tube Watch S42 Date Steel With Black Case"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Diver 300M Co-Axial Master Chronometer</h3>
          <p class="product-price">€1200</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-8.jpg    1x,
                  ./img/catalog/watch-8@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-8.jpg    1x,
                  ./img/catalog/watch-8@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-8.jpg    1x,
                  ./img/catalog/watch-8@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-8.jpg"
                alt="Greenlane Watch By Police For Men"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Greenlane Watch By Police For Men</h3>
          <p class="product-price">€1000</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-9.jpg    1x,
                  ./img/catalog/watch-9@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-9.jpg    1x,
                  ./img/catalog/watch-9@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-9.jpg    1x,
                  ./img/catalog/watch-9@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-9.jpg"
                alt="Squardrc 5402 Chrono"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Squardrc 5402 Chrono</h3>
          <p class="product-price">€359</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-10.jpg    1x,
                  ./img/catalog/watch-10@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-10.jpg    1x,
                  ./img/catalog/watch-10@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-10.jpg    1x,
                  ./img/catalog/watch-10@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-10.jpg"
                alt="Diver  300M Co‑Axial Master Chronometer Chronograph"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">
            Diver 300M Co‑Axial Master Chronometer Chronograph
          </h3>
          <p class="product-price">€400</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-11.jpg    1x,
                  ./img/catalog/watch-11@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-11.jpg    1x,
                  ./img/catalog/watch-11@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-11.jpg    1x,
                  ./img/catalog/watch-11@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-11.jpg"
                alt="Citizen"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Citizen</h3>
          <p class="product-price">€519</p>
        </a>
      </li>
      <li class="catalog-item">
        <a class="catalog-link link" href="">
          <div class="catalog-link-img-wrapper">
            <picture>
              <source
                srcset="
                  ./img/catalog/watch-12.jpg    1x,
                  ./img/catalog/watch-12@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-12.jpg    1x,
                  ./img/catalog/watch-12@2x.jpg 2x
                "
                media="(min-width: 768px)"
              />
              <source
                srcset="
                  ./img/catalog/watch-12.jpg    1x,
                  ./img/catalog/watch-12@2x.jpg 2x
                "
                media="(min-width: 375px)"
              />
              <img
                class="catalog-foto"
                src="./img/catalog/watch-12.jpg"
                alt="Armani Exchange"
                width="276"
              />
            </picture>
            <div class="overlay">
              <div class="overlay-item">
                <h4 class="overlay-list-title">Description</h4>
                <p class="overlay-description">
                  Richly detailed with an understated design - the Police Men’s
                  Greenlane watch.
                </p>
              </div>
              <div class="overlay-item">
                <h4 class="overlay-list-title">DETAILS & FEATUREStion</h4>
                <p class="overlay-description">
                  Gender: man Size: 46x54.5mm Case Colour: Steel Band Material:
                  Metal Case Material: Metal Features: Multifunction Water
                  Resistant: 5 (ATM) Band Colour: Steel
                </p>
              </div>
            </div>
          </div>
          <h3 class="product-name">Armani Exchange</h3>
          <p class="product-price">€400</p>
        </a>
      </li>
    </ul>
    <div class="modal-open-btn">
      <button type="button" data-modal-open class="catalog-btn button">
        Buy now
      </button>
    </div>
  </div>
</section>
<!------------------- MODAL -------------------------->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" data-modal-close class="modal-close-btn">
      <svg class="close-btn-icon" width="10" height="10">
        <use href="./img/catalog/icons.svg#icon-x"></use>
      </svg>
    </button>
    <div class="modal-img-wrapper">
      <picture class="modal-foto">
        <source
          srcset="./img/catalog/watch-1.jpg 1x, ./img/catalog/watch-1@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <source
          srcset="./img/catalog/watch-1.jpg 1x, ./img/catalog/watch-1@2x.jpg 2x"
          media="(min-width: 768px)"
        />
        <source
          srcset="./img/catalog/watch-1.jpg 1x, ./img/catalog/watch-1@2x.jpg 2x"
          media="(min-width: 375px)"
        />
        <img
          class="catalog-foto"
          src="./img/catalog/watch-1.jpg"
          alt="Tube Watch S42 Date Steel With Black Case"
          width="276"
        />
      </picture>
      <h3 class="product-name">Tube Watch S42 Date Steel With Black ...</h3>
      <p class="product-price">€395</p>
    </div>

    <form class="modal-form">
      <div class="modal-field">
        <label class="input-text" for="user-name">Full name</label>
        <div class="input-wrap">
          <input
            class="modal-input"
            id="user-name"
            name="user-name"
            placeholder="Enter your full name"
            autofocus
            type="text"
            minlength="2"
            pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
          />
          <svg class="modal-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-person"></use>
          </svg>
        </div>
      </div>
      <div class="modal-field">
        <label class="input-text" for="user-email">Email</label>
        <div class="input-wrap">
          <input
            class="modal-input"
            id="user-email"
            name="user-email"
            placeholder="Enter your email"
            type="email"
          />
          <svg class="modal-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-email"></use>
          </svg>
        </div>
      </div>
      <div class="modal-field">
        <label class="input-text" for="card-number">Card number</label>
        <div class="input-wrap">
          <input
            class="modal-input"
            id="card-number"
            name="card-number"
            placeholder="Enter card"
            type="text"
          />
          <svg class="modal-icon" width="18" height="24">
            <use href="./images/icons.svg#icon-phone"></use>
          </svg>
        </div>
      </div>

      <div class="modal-comment">
        <label class="input-text" for="user-text">Comments</label>
        <textarea
          class="modal-textarea"
          id="user-text"
          name="user-text"
          placeholder="Enter your text"
        ></textarea>
      </div>
      <button type="submit" class="modal-form-btn button">submit</button>
      <p class="modal-agree">
        By clicking on “Submit” button, you agree to our Privacy Policy, and
        allow Promodo to use this information for marketing purposes.
      </p>
    </form>
  </div>
</div>
