<footer class="footer">
  <div class="container footer-general-container">
    <div class="footer-max-information">
      <div class="footer-min-information">
        <div class="footer-contacts">
          <a class="footer-logo" href="./index.html">
            <svg class="footer-logo-icon">
              <use href="./img/icons.svg#icon-logo"></use>              
            </svg>
          </a>
          <address class="contacts">
            <ul class="contacts-menu list">
              <li class="contacts-menu-item">
                <a class="contacts-information link" href="tel:+380684439426"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="contacts-menu-item">
                <a
                  class="contacts-coordinates link"
                  href="https://goo.gl/maps/FdVBfGTudWrcEjyD6"
                  target="_blank"
                  rel="noopener nofollow noreferrer"
                  >1678 S. Pioneer Road Salt Lake City UT 84104</a
                >
              </li>
            </ul>
          </address>
        </div>
        <nav class="footer-navigation">
          <ul class="navigation-menu list">
            <li class="navigation-menu-item">
              <a class="navigation-menu-link link" href="./index.html"
                >About Us</a
              >
            </li>
            <li class="navigation-menu-item">
              <a class="navigation-menu-link link" href="./index.html"
                >Catalog</a
              >
            </li>
            <li class="navigation-menu-item">
              <a class="navigation-menu-link link" href="./index.html">Sale</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="footer-social">
        <ul class="social-menu list">
          <li class="social-menu-item">
            <a
              class="social-menu-link link"
              href="https://www.facebook.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="social-menu-icon">
                <use href="./img/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="social-menu-item">
            <a
              class="social-menu-link link"
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="social-menu-icon">
                <use href="./img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="social-menu-item">
            <a
              class="social-menu-link link"
              href="https://www.youtube.com/"
              target="_blank"
              rel="noopener nofollow noreferrer"
            >
              <svg class="social-menu-icon">
                <use href="./img/icons.svg#icon-youtube"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="service-information">
      <p class="footer-copywrite">
        &#169;2022 The Watch Spot. All rights reserved.
      </p>
      <ul class="service-information-menu list">
        <li class="service-information-item">Privacy Policy</li>
        <li class="service-information-item">Terms of Service</li>
      </ul>
    </div>
  </div>
</footer>
