<header class="header">
  <div class="container header-wrap">
    <nav class="header-nav">
      <a class="nav-logo">
        <svg class="nav-logosvg">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        thewatchspot
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#catalog">Catalog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sale">Sale</a>
        </li>
      </ul>
    </nav>
    <address class="header-address">
      <a href="tel:+380684439426" class="address-link">+380 (68) 443-94-26</a>
    </address>
    <button type="button" class="header-btn js-open-menu">
      <svg class="header-btn-svg">
        <use href="./img/icons.svg#icon-gg_menu"></use>
      </svg>
    </button>
  </div>
  <div class="menu js-menu-container">
    <button type="button" class="menu-btn js-close-menu">
      <svg class="menu-btn-svg">
        <use href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>
    <a class="menu-logo">
      <svg class="menu-logosvg">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
      thewatchspot
    </a>
    <ul class="menu-list">
      <li class="menu-item">
        <a href="#about-us" class="menu-link">About us</a>
      </li>
      <li class="menu-item">
        <a href="#catalog" class="menu-link">Catalog</a>
      </li>
      <li class="menu-item">
        <a href="#sale" class="menu-link">Sale</a>
      </li>
    </ul>
  </div>
</header>
