<section class="watches">
  <div class="watches-container container">
    <div>
      <h2 class="watches-title">New watches</h2>
    <h3 class="watches-subtitle">Green And Bronze—The Match Made In Heaven</h3>
    <ul class="watches-list list">
      <li class="watches-item">
        <picture>
          <source
            srcset="
              ./img/new-watches/green-watches.jpg 1x,
              ./img/new-watches/green-watches-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/new-watches/green-watches-tab.jpg 1x,
              ./img/new-watches/green-watches-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new-watches/green-watches-mob.jpg 1x,
              ./img/new-watches/green-watches-mob-2x.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/new-watches/green-watches.jpg"
            alt="Green watches"
            width="576"
            height="422"
          />
        </picture>
      </li>
      <li class="watches-item">
        <picture>
          <source
            srcset="
              ./img/new-watches/bronze-watches.jpg    1x,
              ./img/new-watches/bronze-watches-2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/new-watches/bronze-watches-tab.jpg    1x,
              ./img/new-watches/bronze-watches-tab-2x.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/new-watches/bronze-watches-mob.jpg    1x,
              ./img/new-watches/bronze-watches-mob-2x.jpg 2x
            "
            media="(max-width: 768px)"
          />
          <img
            src="./img/new-watches/bronze-watches.jpg"
            alt="Bronze watches"
            width="576"
            height="422"
          />
        </picture>
      </li>
    </ul>
    </div>
  </div>
</section>
