.container {
    width: 100%;
    /* max-width: 375px; */
    padding-left: 20px;
    padding-right: 20px;
    
    margin-left: auto;
    margin-right: auto;
    /* background-color: blue; */
}


.about {
    padding-top: 40px;
    padding-bottom: 80px;
}

.about-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    color: #1E2827;
    margin-bottom: 40px;
}

.about-top-text {
    margin-bottom: 20px;
}

.about-top-text,
.about-down-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.02em;
    color: #141414;
}

.about-flex {
    margin-bottom: 40px;
}

.about-img {
    width: 100%;
    height: 365px;
}

@media screen and (min-width: 768px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }

    .about {
        padding-top: 64px;
        padding-bottom: 128px;
    }

    .about-wrap {
        display: flex;
        margin-bottom: 40px;
    }

    .about-title {
        font-size: 40px;
        line-height: 1.1;  
        min-width: 174px;
        margin-right: 40px;
        margin-bottom: 0;      
    }

    .about-flex {
        display: flex;
        margin-bottom: 0;
    }

    .about-top-text {
        width: 220px;
        margin-right: 20px;
        margin-bottom: 0;
    }

    .about-down-text {
        width: 250px;
    }

    .about-img {
        height: 465px;
    }
}


@media screen and (min-width: 1280px) {
    .container {
        /* max-width: unset;
        width: 1176px; */
        padding-left: 12px;
        padding-right: 12px;
    }

    .about {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .about-title {
        margin-right: 90px;
    }

    .about-top-text {
        margin-right: 40px;
        width: 439px;
    }

    .about-down-text {
        width: 380px;
    }

    /* .about-flex {
        margin-left: 80px;
    } */

    .about-img {
        width: 892px;
        height: 500px;
        margin-left: auto;
    }
}